* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.carousel {
    position: relative;
    max-width: 1000px;
    height: 500px;
    margin: auto;
    overflow: hidden;
}

.container {
    left: 0;
    top: 0;
    min-width: 1000px;
    display: flex;
    position: absolute;
    transition: left 1s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.module {
    width: 1000px;
    
    height: 500px;
}

#left, #right {
    position: absolute;
    transform: translateY(50%);
    bottom: 50%;
    background: rgb(255, 255, 255);
    padding: 5px 10px;
    margin: 0 10px;
    cursor: pointer;
    border: 0;
    z-index: 1;
}

#left {
    left: 0;
}

#right {
    right: 0;
}

.colorBlock {
    height: 20px;
    margin-top: 20px;
    display: flex;
    background: gray;
}